#wrapper {
    background-color: black;
    width: 1400px;
    height: 600px;
    border-radius: 100px / 170px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
}

#leftBar {
    background-color: grey;
    grid-column: 1;
    margin-right: 10px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
}
#center {
    background-color: grey;
    grid-column: 2;
}
#rightBar {
    background-color: grey;
    grid-column: 3;
    margin-left: 10px;
}

